.scene-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;

  .title {
    font-size: 20px;
    color: rgb(0 0 0 / 80%);
    font-weight: bold;
  }

  .triget-type {
    display: flex;
    align-items: center;
    min-width: 80px;
    margin-left: 16px;
    padding: 4px 8px;
    color: rgb(0 0 0 / 65%);
    font-size: 14px;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 2px;
  }
}

.content-wrap {
  margin: 20px 0;
}

.title-content {
  position: relative;
  padding-left: 10px;
  color: rgb(0 0 0 / 80%);
  font-weight: 600;
  line-height: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #1d39c4;
    border-radius: 0 3px 3px 0;
    content: " ";
  }
}

.rule-button-warp {
  width: 100%;
  ;
  display: inline-block;
  padding: 14px 16px;
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  cursor: pointer;

}

.actions-terms-warp {
  display: flex;

  .actions-terms-title {
    width: 40px;
    padding-top: 16px;
    color: #6968be;
    font-weight: 800;
    font-size: 16px;
  }

  .actions-terms-options-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;

    .actions-terms-options {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}


.ant-btn {
  margin-right: 16px;
}

.ant-form-item {
  display: inline-flex;
  margin-right: 16px;
  margin-bottom: 16px;
}

>.ant-form-item {
  margin-bottom: 0;
  margin-right: 0;
}
